@charset "UTF-8";

/* 
Paleta de cores
Verde: #49a09d
roxo: #5f2c82
*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: #5f2c82;
    padding-top: 5px;
}

main{
    width: 250px;
    height: 515px;
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 12px ;
    box-shadow: 1px 1px 2px #49a09d;
    margin: auto;
    
}

div {
    font-size: 0.8em;
}

div#formulario {
    padding-right: 10px;
    padding-left: 10px;
}

div > h1 {
    text-align: center;
}

img {
    width: 250px;
    height: 200px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

p.inpu {
   
    background-color: #5f2c82;
    border-radius: 5px;
    padding: 10px;
    
    
   
}

th {
    background-color: #5f2c82;
    margin: 20px;
}

input {
    width: 200px;
    background-color: #49a09d;
    border: 1px solid  #49a09d;
    border-radius: 2px;
    padding: 10px;
}