@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    /* Configuração para tablet */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 90vw;
        height: 290px;

    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
        height: 100%;
        
    }

    div.campo > input {
        background-color:#94cfcd;
        font-size: 1em;
        width: 90%;        
        transform: translatey(-10px);
        height: 89%;
        border: 0px;
        border-radius: 5px;
        padding: 4px;
    }


}

@media screen and (min-width: 992px) {
    /* Configuração para desktop */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
   
    section#login {
        width: 950px;
        height: 350px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    div#formulario > h1 {
        font-size: 1.5em;
    }

    div#formulario > p {
        font-size: 1.2em;
    }

    form > div.campo {
        background-color: #5f2c82;
        display: block;
        width: 450px;
        height: 40px;
        border-radius: 5px;
        margin: 5px 0px;
    }

    div.campo > input {
        width: 90%;
    }

    form > input[type=submit] {
        display: block;
        font-size: 1em;
        width: 48.5%;
        height: 40px;
        background-color: #49a09d;
        color: white;
        border: none;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    form > a {
       display: block;
       text-align: center;
       text-decoration: none;
       font-size: 1em;
       width: 48.5%;
       height: 40px;
       padding-top: 5px;
       margin-top: 5px;
       background-color: white;
       color: #2d6462;
       border: 1px solid #49a09d;
       border-radius: 5px;
       text-decoration: none;
    }
}